@charset "utf-8";
*{font:normal 14px/100% "微软雅黑",Verdana,sans-serif}
ul,ol,li {list-style:none}
h1,h2,h3,h4,h5,form,div,p,i,ul,li,ol,body,dd,dl,dt,input,table,th,td,thead,tbody{margin:0; padding:0}
img{border:0}
a{text-decoration:none;color:#333}
div,p{display:block}
form{background:0;border:0; padding:0; margin:0}
html,body{width:100%; height: auto;}
body{background:#F5F5F5;overflow-x:hidden; float: left;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.tree{ width: 100%;float: left;}
.tree_top{ width: 100%;float: left; position: relative;}
.tree_bottom{ width: 100%;float: left; position: relative;}
.shubg{ width: 100%;float: left;}
.level{ width: 2rem; position: absolute; top: 0.5rem;  background-color: rgba(0,0,0,0.3); right: 0;padding-left: 0.3rem; border-bottom-left-radius:1rem;border-top-left-radius:1rem; }
.lvnum{ color: #FCFF09; font-size: 0.25rem; margin:0.1rem;}
.progressbar{ width: 90%;float: left; border:1px solid #30BF6B; height: 0.2rem;  border-radius: 10px; background-color: #ECFBD2; overflow: hidden; margin-bottom: 0.1rem}
.pb{ width: 20%;float: left; height: 100%; background-color: #B6E944;}
.pbnum{ float: right; color: #30BF6B; font-size: 0.2rem; margin-right: 0.1rem; position: absolute; right: 0.2rem;line-height: 0.2rem}
.ls_btn{ width: 0.4rem; position:absolute; bottom: 0.1rem;}
.lb{ right: 2.6rem}
.gl{right: 1.8rem}
.dt{right: 1rem}
.sd{ right: 0.2rem}
.tb_tip{ width: 95%;float: left; margin-left: 2.5%; }
.tb_tip div{ float: left;font-size: 0.25rem; line-height: 0.7rem}
.tb_tip p{  float: left; color: #FE743C;font-size: 0.27rem;line-height: 0.7rem;margin: 0 0.1rem 0 0.1rem}
.tb_tip span{ float: left; color: #9D9D9D;font-size: 0.2rem;line-height: 0.7rem}
.donation{ width: 28.33%; float: left; margin: 2.5%; position: relative;}
.donation p{ position: absolute; top: 1.5rem; right: 0.1rem; color: #FE743C} 
.donation img{ width: 100%;float: left;}
.donation div{ width: 80%;float: left; margin-left: 10%; background-color: #30BF6B; color: #fff; line-height: 0.4rem; text-align: center; margin-top: 0.3rem}
.ornament{width: 100%;position: absolute;}
.ornament img{width: 0.5rem; position: absolute;}
/*装饰*/
.z1{right: 0.6rem;  top: 3.5rem}
.z2{left: 0.5rem;  top: 2.4rem; width: 1rem!important}
.z3{left: 2rem;  top: 2.5rem}
.z4{left: 2rem;  top: 3.2rem}
.z5{right: 1.5rem;  top: 3.5rem; width: 1rem!important}
.z6{right: 2.5rem;  top: 5rem}
.z7{left: 3.6rem;  top: 2.2rem; width: 1rem!important}
.z8{left: 2.6rem;  top: 2.5rem; width: 1rem!important}
.z9{left: 2.6rem;  top: 1.3rem; width: 1rem!important}
.z10{left: 3.6rem;  top: 3.2rem; width: 0.7rem!important}
.z11{left: 1.7rem;  top: 5rem; width: 1rem!important}
.z12{left: 1.5rem;  top: 3.7rem; width: 1rem!important}
.bombbox{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); position: absolute; z-index: 9999}
.bbox{ width: 80%; float: left; background-color: #F2F1F1; border-radius: 10px; margin-left: 10%; margin-top: 1.3rem}
.b_t{ width: 100%;float: left; text-align: center; line-height: 0.7rem}
.b_t span{ color: #F8652B}
.b_img{ width: 30%;float: left; margin:0.2rem 35%  0.2rem 35%;  }
.Km{ width: 70%; float: left; height: 0.2rem;   border-radius: 10px;  margin:3%;overflow: hidden;background: -webkit-linear-gradient(left, #B0DF5C , #32C06B); }
.Km1{ width: 70%; float: left;    margin-left:15%;  position: relative;}

.km_box{ width: 90%;float: left; margin-left: 5%; }
.jian{ width: 10%;float: left;}
.jia{ width: 10%;float: left;}
.km_jl{ width: 100%; height: 100%;float: right; background-color: #E1E1E1;}
.shuidi{width: 10%; position: relative; float: right; margin-right: 6%; margin-left: 1.5%; opacity: 0}
.shuidi img{ width: 100%}
.shuidi p{ position: absolute; color: #fff; width: 100%; text-align: center;  line-height: 0.35rem; font-size: 0.1rem; top: 0}
.km_btn{ width: 40%;float: left; background-color: #3CA30A; color: #fff; text-align: center; line-height: 0.6rem;  border-radius: 30px; font-size: 0.27rem; margin:0.3rem 30% 0.3rem 30% }
.gxhd{ width: 80%;float: left; margin-left: 10%; margin-top: -0.5rem}
.pg_box{width:35%;float: left; margin-left: 10%; border-radius: 10px; margin-top: 0.7rem; overflow: hidden;}
.pg_box1{width:35%;float: left; margin-left: 32.5%; border-radius: 10px; margin-top: 0.7rem; overflow: hidden;}
.pg_box1 p{ width: 100%;float: left; text-align: center; line-height: 0.7rem; font-size: 0.3rem}
.pg_box1 span{ width: 100%;float: left; text-align: center; color: #A9A9A9}
.package{ width:100%;float: left; background-color: #fff; border-radius: 10px; }
.package img{ width: 70%;float: left; margin: 15%}
.pg_box p{ width: 100%;float: left; text-align: center; line-height: 0.7rem; font-size: 0.3rem}
.pg_box span{ width: 100%;float: left; text-align: center; color: #A9A9A9}
.close{ float: right; width: 0.4rem; margin: 0.1rem}
.q_t{ width: 100%;float: left; text-align: center; font-size: 0.3rem; margin-bottom: 0.3rem}
.t_t{ width: 80%;float: left; margin-left: 10%; margin-bottom: 0.2rem}
.t_t img{ width: 0.4rem; float: left;}
.t_t p{  float: left;  line-height: 0.4rem; margin-left: 0.2rem; font-size: 0.27rem; color: #999999}
.explain{ float: left; width: 80%; margin-left: 10%;line-height: 0.7rem; font-size: 0.27rem; color: #999}
.tx{ width: auto;  position: absolute; margin: 0.3rem}
.icon{ float: left; width: 1rem; border-radius: 1rem; overflow: hidden; height: 1rem}
.icon img{ width: 100%;float:left;}
.tx p{ float: left; color: #fff; line-height: 1rem; margin-left: 0.2rem; font-size: 0.25rem}
.bz_box{width: 90%;float: left; margin-left: 5%;}
.bz_box img{ width: 40%;float: left;}
.bz_box div{ width: 55%;float: left; margin-left: 5%; line-height: 0.4rem; font-size: 0.25rem}
.bz_box span{ color: #FE743C; font-size: 0.25rem}
.bz_box p{ color: #999}
.xz{ position: absolute; bottom: 0}
.xz img{ width: 100%;float: left;}
.xz div{ width: 2rem; height: 1rem; position: absolute; bottom: 0.3rem; right: 0}
.dian{ position: absolute; background-color: #FE743C; border-radius: 1rem; width: 0.15rem; height: 0.15rem; top: 6rem; left: 3.7rem; display: none}
#sd0{  position: absolute; left: -0.1rem; opacity: 1}
.jiaoshui{position: absolute; top: 1rem; z-index: 9;  right: 0.5rem; width: 1.2rem;-webkit-animation:fadein 5s 1; opacity: 0}
.jiaoshui1{position: absolute;top: 1.8rem; z-index: 9;  right: 1.7rem; width: 0.5rem;-webkit-animation:flash 1s 1.5s 1; opacity: 0}
.fl{position: absolute; top: 5.3rem; z-index: 9;  right: 2rem; width: 2.2rem;-webkit-animation:fadein 2s  3s 1; opacity: 0}
.fld{position: absolute; top: 4rem; z-index: 9;  right: 1.7rem; width: 1rem;-webkit-animation:fadein 7s 1; opacity: 0}
.ccj{position: absolute; top: 2rem; z-index: 9;  right: 0.3rem; width: 2.2rem;-webkit-animation:fadein 5s 1; opacity: 0}
.cz{position: absolute; top: 3rem; z-index: 9;  right: 2rem; width: 0.7rem;-webkit-animation:ring 3s 1s 1; opacity: 0}
.value{ position: absolute; top: 1rem; left: 3rem; font-size: 0.3rem; color: #FE743C;-webkit-animation:bounceinB 7s 1s 1; opacity: 0}

/* 淡入 */
@-webkit-keyframes fadein{
    0%{opacity:0;}
    50%{opacity: 1}
    100%{opacity:0;}
}
/* 闪烁 */
@-webkit-keyframes  flash{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0;}
}
/* 震铃 */
@-webkit-keyframes ring{
    0%{-webkit-transform:scale(1); opacity: 1}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0); opacity: 0}
}
/* 弹入-从下 */
@-webkit-keyframes bounceinB{
    0%{opacity:0;-webkit-transform:translateY(100px); opacity: 0}
    100%{-webkit-transform:translateY(0); opacity: 1}
}